doctype html
html
  head
  body
    h1 Welcome to dcode!
    h1#pageTitle Page title goes here!
    p.big-para. 
      Here is some text for 
      my big paragraph!
    p.big-para. 
      Here is some MORE text for
      my big paragraph!
    .display-box
    #myOnlyDiv
    p. 
      This is a paragraph tag
      and this is a new line
    ul
      li This is item #1
      li This is item #2
      li This is item #3
    